form {
  position: fixed;
  top: 0;
  left: 30px;
}
h1 {
  color: purple;
  font-size: 55px;
  position: fixed;
  top: 60px;
  left: 40px;
  font-family: "Ibarra Real Nova", serif;
}
h2 {
  color: purple;
  font-size: 80px;
  position: fixed;
  top: 170px;
  left: 50px;
  font-family: "Times New Roman", Times, serif;
}
.stats {
  font-size: 20px;
  color: green;
  position: fixed;
  top: 170px;
  left: 220px;
  font-family: "Playfair Display", serif;
}
.date {
  color: #eb6233;
  position: fixed;
  top: 125px;
  left: 30px;
  font-size: 25px;
  font-family: "Ibarra Real Nova", serif;
}

.celsiusFahren {
  font-size: 22px;
  position: fixed;
  top: 170px;
}

.weather-trim {
  margin: 50px 20px;
  padding: 120px;
  border: 2px solid purple;
  border-radius: 30px;
  max-width: 450px;
}
