.search {
  position: relative;
  left: 12px;
}

.container {
  max-width: 500px;
  margin: 5px 6px 40px;
  padding: 5px;
  border: 2px solid #112d1f;
  border-radius: 10px;
}

.date,
.daily-temp,
.celsiusFahren,
ul {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cityName {
  color: #431d5a;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.date {
  color: #112d1f;
  font-size: 20px;
}

.daily-temp {
  color: #431d5a;
  font-size: 55px;
  font-weight: bolder;
  position: relative;
  left: 10px;
}
.celsiusFahren {
  font-size: 15px;
  position: relative;
  top: -20px;
}
ul {
  list-style: none;
  color: #431d5b;
  font-size: 18px;
  position: relative;
  top: -60px;
  left: 100px;
}
.container-fluid {
  color: #112d1f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  top: -40px;
}

.forecast-day {
  font-size: 20px;
}

.weekly-forecast-temp {
  color: #431d5a;
}

.weekly-forecast-high {
  font-weight: bolder;
  font-size: 16px;
}
.weekly-forecast-low {
  font-size: 15px;
}

.credits {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  position: relative;
  left: 13px;
}
