form {
  position: fixed;
  top: 0;
  left: 200px;
}
h1 {
  color: purple;
  font-size: 55px;
  position: fixed;
  top: 60px;
  left: 40px;
  font-family: "Ibarra Real Nova", serif;
}
h2 {
  color: purple;
  font-size: 70px;
  position: fixed;
  top: 160px;
  left: 50px;
  font-family: "Playfair Display", serif;
}
h3 {
  color: #1a6ec5;
  font-size: 20px;
  top: 150px;
  left: 55px;
  font-family: "Playfair Display", serif;
}
.stats {
  font-size: 20px;
  color: #1a6ec5;
  position: fixed;
  top: 175px;
  left: 250px;
  font-family: "Playfair Display", serif;
}
.date {
  color: #eb6233;
  position: fixed;
  top: 125px;
  left: 30px;
  font-size: 25px;
  font-family: "Ibarra Real Nova", serif;
}

.weather-trim {
  margin: 50px 20px;
  padding: 120px;
  border: 2px solid purple;
  border-radius: 30px;
  max-width: 400px;
}
